:root {
    --primary-color: #d10517;
}
.card {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    border: 2px solid var(--primary-color);
    box-shadow: 1px -3px 52px -5px rgba(0, 0, 0, 0.77);
    background-color: #fff;
    margin: 13px 10px;
    inline-size: 150px;
    block-size: 250px;
}

.card__title {
    font-weight: 400;
    text-align: center;
}

.card__title .car__price {
    font-weight: bold;
}

.image__container {
    inline-size: 100px;
    block-size: 100px;
    margin: 0 auto;
}

.image__container img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.card img {
    inline-size: 100%;
    block-size: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    margin: 0.5rem 0;
}
